@charset "utf-8";
/* 全体 */
.inner {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
}
img {
    width: 100%;
    object-fit: cover;
}
p {
    line-height: 1.6;
    font-size: 16px;
}
.ef {
    transform: translateY(100px);
    transition: all 0.5s;
}
h1,h2,a {
    font-family: 'Montserrat', sans-serif;
}
.spase-fixed {
    padding: 0 100px;
}
/* ヘッダー */
header {
    display: flex;
    height: 68px;
    padding: 0 100px;
}
header h1 {
    margin: 24px 0;
}
header li {
    margin-right: 56px;
    font-family: 'Montserrat', sans-serif;
}
header li:last-child {
    margin: 0;
}
header li:hover {
    opacity: 0.5;
}
header ul {
    display: flex;
    margin: 22px 0 22px auto;
}
/* 見出し */
.top-wrapper {
    position: relative;
}
.catch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 960px;
    align-items: flex-end;
}
.catch h1 {
    font-size: 68px;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.2;
}
.catch h2 {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 20px;
}
.top-wrapper img {
    height: 560px;
}
/* ニュースバナー */
.news-banner {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 960px;
    align-items: flex-end;
    background-color: #F27E1A;
    font-size: 20px;
    height: 70px;
    color: #ffffff;
    position: absolute;
    bottom: -35px;
}
.news-banner-text {
    display: flex;
    margin: auto;
}
.news-banner h1 {
    border-right:#ffffff 1px solid;
    padding-right: 25px;
}
.date {
    margin: 0 25px;
}
.news-banner p{
    margin: auto;
}
.news-banner a {
    color: #ffffff;
}
/* 会社概要 */
.company {
    background-color: #ffffff;
}
.company-details {
    margin: 0 auto;
    padding: 140px 0;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
.company-image {
    width: 60%;
}
.contents {
    align-items: center;
}
.about-us {
    justify-content: left;
    padding-right: 30px;
}
.message {
    display: flex;
    justify-content: right;
    padding-left: 30px;
}
.contents h1 {
    font-size: 50px;
}
.contents p {
    width: 340px;
    margin: 50px 0;
}
.link {
    background-color:  #F27E1A;
    color: #ffffff;
    max-width: 250px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.logo {
    opacity: 0.5;
    font-size: 150px;
    font-weight: bold;
    position: absolute;
    color: #F4F4F4;
}
.sugoi {
    top: 10%;
    left: -20%;
}
.story {
    top: 15%;
    right: -20%;
}
@media (max-width: 960px){
    .catch-copy {
        margin-right: 30px;;
    }
}