@charset "utf-8";
/* 全体 */
.inner {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}
img {
    width: 100%;
    object-fit: cover;
}
/* ヘッダー */
header {
    display: flex;
    height: 68px;
}
header h1 {
    margin: 24px 0;
}
header li {
    margin-right: 56px;
}
header li:hover {
    opacity: 0.5;
}
header ul {
    display: flex;
    margin: 22px 0 22px auto;
}
.news-button {
    margin: 0;
}
/* 見出し */
.top-wrapper {
    position: relative;
}
.catch {
    position: absolute;
    top: 207px;
    right: 160px;
    display: none;
}
.catch h1 {
    font-size: 68px;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.2;
}
.catch h2 {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 20px;
}
.top-wrapper img {
    height: 560px;
}
