@charset "utf-8";
/* 全体 */
.inner {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
}
img {
    width: 100%;
    object-fit: cover;
}
p {
    line-height: 1.6;
    font-size: 16px;
}
.ef {
    transform: translateY(100px);
    transition: all 0.5s;
}
h1,h2,a,ul {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
h1 {
    font-size: 50px;
}
.spase-fixed {
    padding: 0 100px;
}
/* ヘッダー */
header {
    display: flex;
    height: 68px;
    padding: 0 100px;
}
header h1 {
    margin: 24px 0;
    font: inherit;
    font-family: 'Montserrat', sans-serif;
}
header li {
    margin-right: 56px;
    font-family: 'Montserrat', sans-serif;
}
header li:last-child {
    margin: 0;
}
header li:hover {
    opacity: 0.5;
}
header ul {
    display: flex;
    margin: 22px 0 22px auto;
}
/* 見出し */
.top-wrapper {
    position: relative;
}
.catch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 960px;
    align-items: flex-end;
}
.catch h1 {
    font-size: 68px;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.2;
}
.catch h2 {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 20px;
}
.top-wrapper img {
    height: 560px;
}
/* ニュースバナー */
.news-banner {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 960px;
    align-items: flex-end;
    background-color: #F27E1A;
    font-size: 20px;
    height: 70px;
    color: #ffffff;
    position: absolute;
    bottom: -35px;
}
.news-banner-text {
    display: flex;
    margin: auto;
}
.news-banner h1 {
    border-right:#ffffff 1px solid;
    padding-right: 25px;
    font-size: 20px;
}
.date {
    margin: 0 25px;
}
.news-banner p{
    margin: auto;
}
.news-banner a {
    color: #ffffff;
}
/* 会社概要 */
.company {
    background-color: #ffffff;
}
.company-details {
    margin: 0 auto;
    padding: 140px 0;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
.company-image {
    width: 60%;
}
.contents {
    align-items: center;
}
.about-us {
    justify-content: left;
    padding-right: 30px;
}
.message {
    display: flex;
    justify-content: right;
    padding-left: 30px;
}
.contents p {
    width: 340px;
    margin: 50px 0;
}
.link {
    background-color:  #F27E1A;
    color: #ffffff;
    max-width: 250px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.logo {
    opacity: 0.5;
    font-size: 150px;
    font-weight: bold;
    position: absolute;
    color: #F4F4F4;
}
.sugoi {
    top: 10%;
    left: -20%;
}
.story {
    top: 15%;
    right: -20%;
}
/* サービス */
.service {
    background-color: #EFEFEF;
}
.service-details {
    display: block;
    padding: 80px 0;
}
.service-details h1 {
    text-align: center;
}
.service-contents-wrap {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}
.service-contents {
    width: 32%;
    background-color: #ffffff;
}
.service-contents-image {
    text-align: center;
    padding: 50px 0;
}
.service-contents img {
    width: 100px;
    align-items: center;
    height: 150px;
}
.service-item {
    padding: 0 30px;
}
.service-item h2 {
    font-size: 20px;
    text-align: center;
    color: #F27E1A;
    line-height: 1.4;
}
.service-item p {
    padding: 20px 0 40px 0;
}
.service-link {
    margin: 0 auto;
}
/* ニュース */
.news {
    padding: 110px 0;
}
.news-details-wrap {
    display: block;
}
.news-text {
    display: flex;
    border-bottom: solid 1px #B7B7B7;
    padding: 20px 0;
}
.news-text h2 {
    margin: auto 0;
    padding: 0 40px 0 10px;
    color: #B7B7B7;
}
.news-text p {
    font-family: 'Noto Sans JP', sans-serif;
}
.news-contents {
    padding: 20px 0 60px 0;
}
/* その他 */
.other {
    padding-bottom: 140px;
}
.other-contents {
    justify-content: space-between;
}
.other-image {
    width: 45%;
}
/* フッター */
.fotter {
    background-color: #292929;
    color: #B7B7B7;
}
.fotter ul {
    display: flex;
}
.fotter-contents {
    justify-content: space-between;
}
.fotter-logo {
    width: 50%;
}
.fotter-logo img {
    padding: 50px 0 25px 0;
    width: 20%;
}
.privacy {
    display: flex;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 12px;
}
.privacy li {
    padding: 0 20px;
    border-right: solid 1px #B2B2B2;
}
.privacy li:first-child{
    padding-left: 0;
}
.privacy li:last-child {
    padding-right: 0;
    border: none;
}
.menu {
    width: 50%;
    color: #ffffff;
    font-size: 20px;
}
.main-menu li {
    padding: 50px 30px 30px 0;
}
.sub-menu li {
    padding: 0 30px 100px 0;
}
.license {
    justify-content: center;
    padding-bottom: 10px;
    font-size: 12px;
}
@media (max-width: 960px){
    .catch-copy {
        margin-right: 30px;;
    }
}